# Supabase Project Credentials
SUPABASE_URL=https://your-supabase-project.supabase.co
SUPABASE_KEY=your-supabase-anon-key

# Optional Custom SMTP Settings (Configured in Supabase Dashboard)
# Dashboard -> Authentication -> Providers -> Email / Custom SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=udharrde@gmail.com
SMTP_PASS=rdionuapzjdnmvph
SMTP_SENDER_NAME="UdharrDe Auth"
